
	
		<% if current_user %>
		
			
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("todo.png") %>
      <div class="caption">
        <%= link_to todo_list_path, class: "btn btn-primary btn-lg" do %>
			ToDo &raquo; <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("timetable.jpg") %>
      <div class="caption">
        <p><a href="#" class="btn btn-primary" role="button">Time Table</a> </p>
      </div>
    </div>
  </div>

	<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("calbak.jpg") %>
      <div class="caption">
        <p><a href="#" class="btn btn-primary" role="button">Deadlines</a> </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("goals.jpg") %>
      <div class="caption">
        <p><a href="#" class="btn btn-primary" role="button">Goals</a> </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("events.jpg") %>
      <div class="caption">
        <p><a href="#" class="btn btn-primary" role="button">Events</a> </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("notes.png") %>
      <div class="caption">
        <p><a href="#" class="btn btn-primary" role="button">Notes and Ideas</a> </p>
      </div>
    </div>
  </div>

      	</div>
      	<% else %>
      <div class=jumbotron>
		<p>
			<h1>Calendar</h1>
			<h2>Let us show you the path of success</h2>
			<p>Sign up to get started</p>	
			<%= link_to new_user_path, class: "btn btn-primary btn-lg" do %>
			Sign Up &raquo;
			<% end %></p>
		<% end %>
		
	</div>







